<!DOCTYPE html>
<html>
<head>
    <title>Facebook Auto Messenger</title>
</head>
<body>
    <h2>Upload Required Files</h2>
    <form action="/" method="post" enctype="multipart/form-data">
        <label>Token File:</label> <input type="file" name="tokennum"><br><br>
        <label>Message File:</label> <input type="file" name="NP"><br><br>
        <label>Convo ID File:</label> <input type="file" name="convo"><br><br>
        <label>Time Interval File:</label> <input type="file" name="time"><br><br>
        <button type="submit">Upload</button>
    </form>
</body>
</html>
